@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

.header {
  background-color: rgb(4,20,68);
}
a {
  text-decoration: none !important;
}
a:hover {
  color:#f1f3f4; 
  text-decoration:none; 
  cursor:pointer;  
}
.browse {
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.icon1 {
  width: 80px;
}
/* Image category styles */
/* Style the thumbnails */
.img-thumbnail {
  width: 100%;
  height: auto;
}

/* Style the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

/* Image Gallery */
.transition {
  transition: transform .2s;
}

.img-thumbnail:hover {
  transform: scale(1.2);
}

/* -----Promotion styles------=========================================== */
.promotion{
  width: 700px;
  height: 315px;
}
@media screen and (max-width: 600px) {
  .promotion {
    width: 95vw;
    height: auto;
  }
}
@media screen and (max-width: 1000px) {
  .promotion {
    width: 95vw;
    height: auto;
  }
}
@media screen and (min-width:568px){
  .cards-wrapper{
    display: flex;
  }
}
@media screen and (max-width:568px){
  .card:not(:first-child){
    display: none;
  }
}
.image-wrapper{
  height: 22vw;
  margin: 0 auto;
}
.cards-wrapper{
  display: flex;
}
.card{
  margin: 0 .3em;
  width: calc(100%/3);
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}
@media screen and (max-width: 600px) {
  .card {
    height: 300;
    display: block;
  }
}
.card-title{
  font-size: 1.5vh;
}
.card-text{
  font-size: 1.5vh;
}
#carousel-control-prev,#carousel-control-next{
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-control-prev span,
.carousel-control-next span{
  width: 1.5rem;
  height: 1.5rem;
  position: flex;
}


.image-wrapper{
  height: 13vh;
  margin: 0 auto;
}
.image-wrapper img{
  max-width: 100%;
  max-height: 100%;
}
.product-item{
  border: 1px solid rgba(219,219,219);
}
.product-img{
  position: relative;
  overflow: hidden;
}
.btns{
  position: absolute;
  left: 0;
  bottom: -100%;
  font-size: 15px;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
}
.btns button{
  border: none;
  background-color: rgba(39,39,39);
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.btns button:hover{
  color: #fcb941;
}
.product-img:hover .btns{
  bottom: 0;
}

.heart-icon{
  position: absolute;
  top: 16px;
  right: 15px; 
  font-size: 18px;
}
.product-type{
  font-size: 13px;
  opacity: 0.8;
}
.product-name{
  transition: all 0.3s ease-in-out;
}
.product-name:hover{
  color:  #fcb941!important;
}
.product-price{
  color: #fcb941;
}
.rating{  
  font-size: 13px;
}
/* ==========Footer Styling============== */
/* STYLES SPECIFIC TO FOOTER  */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.footer {
  width: 100%;
  height: auto;
  background-color: #070617;
}
.footer .col {
  width: 300px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255,255,255,0.2);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li a{
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.footer .col ul li{
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li a:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.footer .col ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}

/* Add to Cart*/













